/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom css here */
html {
	scroll-behavior: smooth;
  }
@font-face {
	font-family: "ABC Social Plus Variable";
	src: url(/assets/fonts/ABCSocialVariable-Trial.ttf);
}

canvas {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	pointer-events: auto;
	z-index: -1;
}
a {
	text-decoration: none;
}

.icon >* a {
	text-decoration: underline;
}

.icon >* a:hover {
	text-decoration: underline;
	opacity: 80%;
	cursor: pointer;
}
main {
	overflow-y: auto;
	padding: 0; margin: 0; 
	display: flex;
	flex-wrap: wrap;
}

hr {
	border: 0.5px solid rgba(255, 255, 255, 0.5);
	width: 60%;
	margin-left: 0;

}
img{
	user-select: none;
}
h1 {
	

	font-family: 'ABC Social Plus Variable';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 62px;

	color: #FFFFFF;
}

h2 {
	font-family: 'ABC Social Plus Variable';
	font-weight: 350;
	font-size: 24px;
	color:  #FFFFFF;
}

p {
	font-family: 'ABC Social Plus Variable';
	font-weight: 350;
	font-size: 16px;
	line-height: 21px;

	color: rgba(255, 255, 255, 0.7);
}

footer >* p {
	color:rgba(0, 0, 0, 0.7);
}
div.content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 80px 80px;
	gap: 40px;
	padding: 1rem auto;
	display: flex;
	flex-wrap: wrap;
}

div.icongroup {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 20px;
}

div.icongrouphorizontal {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 120px;

	position: absolute;
	width: 1112px;
	height: 41px;
	left: calc(50% - 1112px/2);
	top: 40px;
}

button.down {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 14px 20px;
	gap: 10px;
	
	position: absolute;
	left: calc(50% - 187px/2 + 0.5px);
	bottom: calc(0% + 30px);

	border: none;
	background-color: #FFFFFF;
	border-radius: 200px;
}
div.centerUpButton{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 10px 50px;
	gap: 10px;

}

button {
	cursor: pointer;
}

button.up{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 14px 20px;
	gap: 10px;
	border: none;
	background-color: #FFFFFF;
	border-radius: 200px;
}

button.up:hover{
	background-color: #E9E9E9;
}

button > h2{
	color: #000000;
}

button.down:hover {
	background-color: #E9E9E9;
}


.icon {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 17px;
}

div.schedule {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0;
	gap: 40px;
	position: relative;
	

	flex: none;
	order: 0;
	flex-grow: 0;
}

div.timeContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 20px;
}

div.timeContainer > hr{
	width: 80px;
}

div.horizontalTimeContainer {
	height:100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 40px;
}

div.horizontalTimeContainer > h2 {
	width: 180px;
}
footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 40px 80px;
	gap: 40px;
	background: white;
}

div.footerContainer {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 40px;
}

::selection {
	background: #FF2F01; /* WebKit/Blink Browsers */
  }

.blob {
	position: absolute;
	width: 345.52px;
	height: 338.32px;
	right: 20.48px;
	top: -152px;

	flex: none;
	order: 2;
	flex-grow: 0;
	z-index: 2;
}

#changeKite {
	width: 44px;
}

img.banner{
	width: 100%;
	display: block;

}

.bannerFill {

	flex: 2;
	background: url("assets/banner/woaaahhhSquare.png") no-repeat;
	background-size: 100% 100%;

}

.bannerFill img {
	width: 100%;
	height: auto;
	
}

div.schedulewoah{
	display: flex;
	flex-direction: row;
	align-items: stretch;
	padding: 80px;
	gap: 80px;
}

div.FAQ {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0;
	gap: 20px;
	padding-left:0;
}

div.FAQlist {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 40px;
}

div.FAQ > hr{
	width: 80px;
}
div.listSection {
	max-width: 500px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 20px;
}

#sketch-holder {
	pointer-events:auto;
	height: 100vh;
}

.tooltip {
	pointer-events: none;
	position: absolute;
	left: calc(50% - 255px/2 + 0.5px);
	top: calc(50% - 31px/2 + 0.5px);
}